@charset "UTF-8";
/* globals */
.wtw {
  line-height: 2.22;
}

/* 
reset
https://hankchizljaw.com/wrote/a-modern-css-reset/ 
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  --of: fill;
  -o-object-fit: var(--of);
     object-fit: var(--of);
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || GENERAL STYLES */
/* || UTILITIES */
.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* || SITEWIDE */
/*
floats, etc.
*/
.fl-lf {
  float: left;
}

/*
margin, padding, border, outline, etc.
*/
/*
therest.scss
*/
html,
body.full {
  height: auto;
  width: 100%;
}

main {
  overflow-x: hidden;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input,
select {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 2rem;
}

input {
  padding: 0 5px;
  width: 95%;
}

select {
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0;
  width: 97%;
}

input[type="checkbox"],
input[type="radio"] {
  width: 15px;
  height: 15px;
}

ul {
  padding: 0;
  margin: 0;
}

main ul {
  padding: 0 0 0 25px;
}

.ftr {
  width: auto;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.lf {
  text-align: left;
}

.ctr {
  text-align: center;
}

.rt {
  text-align: right;
}

.up {
  vertical-align: top;
}

.mid {
  vertical-align: middle;
}

.fl-lf {
  float: left;
}

.fl-rt {
  float: right;
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}

:root {
  --pdx: 1;
  --pd: calc(10px * var(--pdx));
  --pdu: var(--pd);
  --pdr: var(--pd);
  --pdd: var(--pd);
  --pdl: var(--pd);
  --mgx: 1;
  --mg: calc(10px * var(--mgx));
  --mgu: var(--mg);
  --mgr: var(--mg);
  --mgd: var(--mg);
  --mgl: var(--mg);
}

.-pd {
  padding: 0 !important;
}

.pd {
  padding: var(--pd);
}

.pd-up {
  padding-top: var(--pdu);
}

.pd-rt {
  padding-right: var(--pdr);
}

.pd-dn {
  padding-bottom: var(--pdd);
}

.pd-lf {
  padding-left: var(--pdl);
}

.-mg {
  margin: 0 !important;
}

.mg {
  margin: var(--mg);
}

.mg-up {
  margin-top: var(--mgu);
}

.mg-rt {
  margin-right: var(--mgr);
}

.mg-dn {
  margin-bottom: var(--mgd);
}

.mg-lf {
  margin-left: var(--mgl);
}

.br {
  white-space: pre-wrap;
}

.-br {
  white-space: nowrap;
}

nav {
  line-height: normal;
}

.amp header,
.amp main,
.amp footer {
  padding-left: 0;
}

.amp nav {
  height: 64px;
  position: fixed;
  background-color: #424242 !important;
  width: 100%;
  z-index: 1000;
}

.amp nav > a {
  padding: 13px 0;
  margin: 0 5px;
  display: inline-block;
}

.amp amp-sidebar amp-accordion {
  top: 64px !important;
}

.tbl {
  display: table;
  width: 100%;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.rw.-br {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.rw.ctr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rw .cl {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rw .cl.auto {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.rw .cl._\35 {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.rw .cl._\31 0 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.rw .cl._\31 5 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.rw .cl._\32 0 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.rw .cl._\32 5 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.rw .cl._\33 0 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.rw .cl._\33 5 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.rw .cl._\34 0 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.rw .cl._\34 5 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.rw .cl._\35 0 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.rw .cl._\35 5 {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.rw .cl._\36 0 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.rw .cl._\36 5 {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.rw .cl._\37 0 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.rw .cl._\37 5 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.rw .cl._\38 0 {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.rw .cl._\38 5 {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

.rw .cl._\39 0 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.rw .cl._\39 5 {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
}

.rw .cl._\33 3 {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.rw .cl._\36 6 {
  -ms-flex-preferred-size: 66.66%;
      flex-basis: 66.66%;
}

.rw .cl.-br {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.rw .cl.ctr {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 800px) {
  .rw .cl.m25 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .rw .cl.m50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .rw .cl.m75 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .rw .cl.m100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .rw .cl.m33 {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .rw .cl.m66 {
    -ms-flex-preferred-size: 66.66%;
        flex-basis: 66.66%;
  }
}

@media only screen and (max-width: 600px) {
  .rw .cl.s25 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .rw .cl.s50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .rw .cl.s75 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .rw .cl.s100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .rw .cl.s33 {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .rw .cl.s66 {
    -ms-flex-preferred-size: 66.66%;
        flex-basis: 66.66%;
  }
}

@media only screen and (max-width: 450px) {
  .rw .cl.x25 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .rw .cl.x50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .rw .cl.x75 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .rw .cl.x100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .rw .cl.x33 {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .rw .cl.x66 {
    -ms-flex-preferred-size: 66.66%;
        flex-basis: 66.66%;
  }
}

.rw.eq > .cl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.-all {
  display: none !important;
}

@media only screen and (max-width: 1100px) {
  .-xl {
    display: none !important;
  }
  .xl-dn {
    display: block !important;
  }
}

@media only screen and (min-width: 1101px) {
  .xl-o {
    display: block !important;
  }
}

@media only screen and (max-width: 800px) {
  .-md {
    display: none !important;
  }
  .md-dn {
    display: block !important;
  }
}

@media only screen and (min-width: 801px) {
  .lg-up {
    display: block !important;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .lg-o {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .-sm {
    display: none !important;
  }
  .sm-dn {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .md-up {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .md-o {
    display: block !important;
  }
}

@media only screen and (max-width: 450px) {
  .-xs {
    display: none !important;
  }
  .xs-o {
    display: block !important;
  }
}

@media only screen and (min-width: 451px) {
  .sm-up {
    display: block !important;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
  .sm-o {
    display: block !important;
  }
}

.card {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.card .title {
  padding: 10px;
  margin: 0;
}

.card .body {
  margin: 0 10px;
  padding: 0 !important;
}

.card .body p {
  margin-top: 0;
}

.card .acts {
  padding: 0.7em 0;
  text-transform: capitalize;
  border-top: 1px solid #ddd;
  width: 100%;
}

.card .acts a,
.card .acts a.act {
  margin: 0 1em;
  display: inline-block;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.5;
  font-size: 15px;
}

@media only screen and (max-width: 320px) {
  body {
    line-height: 1.6;
  }
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
}

input[disabled],
.dis,
.dis * {
  background-color: #ebebeb !important;
  color: #808080 !important;
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
  opacity: 0.95;
}

input[disabled]:hover,
.dis:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  line-height: 2;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  margin: 5px 15px;
  width: auto;
  padding: 0 25px;
  display: inline-block;
}

.btn.sm {
  line-height: 1.5;
  padding: 5px 15px;
}

.inl {
  display: inline-block;
}

.b {
  font-weight: bold;
}

.-b {
  font-weight: normal;
}

.i {
  font-style: italic;
}

.-i {
  font-style: normal;
}

.sm {
  font-size: 0.8rem;
}

.xs {
  font-size: 0.7rem;
}

.lg {
  font-size: 1.1rem;
}

.xl {
  font-size: 1.2rem;
}

.u {
  text-decoration: underline;
}

.-u {
  text-decoration: none;
}

.ls {
  list-style-type: initial;
}

.-ls {
  list-style-type: none;
}

.-bdr {
  border: 0;
}

.or,
h1 {
  color: #c60 !important;
}

.bgor {
  background-color: #c60;
}

.bgor.grad {
  background: linear-gradient(45deg, #c60, #333);
}

.grn {
  color: #093 !important;
}

.bggrn {
  background-color: #093;
}

.bggrn.grad {
  background: linear-gradient(45deg, #093, #333);
}

.gry {
  color: #ebebeb !important;
}

.bggry {
  background-color: #ebebeb;
}

.bggry.grad {
  background: linear-gradient(45deg, #ebebeb, #aaa);
}

.bgdgry {
  background-color: #333;
}

.bl,
.bl-a a {
  color: #607d8b;
}

.bgbl {
  background-color: #607d8b;
}

.bgbl.grad {
  background: linear-gradient(45deg, #607d8b, #000);
}

.blk {
  color: #000 !important;
}

.bgblk {
  background-color: #000;
}

.bgblk.grad {
  background: linear-gradient(45deg, #000, #aaa);
}

.wht,
a.wht {
  color: #fff !important;
}

.bgwht {
  background-color: #fff !important;
}

.bgwht.grad {
  background: linear-gradient(45deg, #fff, #000);
}

.red,
.req:after,
.err,
.error {
  color: #f00 !important;
}

.bgred {
  background-color: #f00 !important;
}

.bgred.grad {
  background: linear-gradient(45deg, #f00, #555);
}

:root {
  --bgc: transparent;
}

.bgc {
  background-color: var(--bgc);
}

.cart tr {
  width: 100%;
}

.cart th {
  width: 10%;
  text-align: left;
}

.cart .itemDesc {
  width: 60%;
}

.cart td.price,
.cart td.itemQty {
  text-align: right;
}

@media only screen and (max-width: 500px) {
  .cart tr {
    text-align: right;
  }
  .cart td {
    display: inline-block;
    padding-left: 10px;
    font-style: italic;
  }
  .cart .itemDesc {
    text-align: left;
    width: 100%;
    font-weight: bold;
  }
  .cart .yourPrice:after {
    content: " ea";
  }
  .cart .itemQty:before {
    content: "x ";
  }
  .cart .itemTotal:before {
    content: "= ";
  }
  .cart th,
  .cart .listPrice {
    display: none;
  }
}

.empty section {
  padding: 0;
}

.empty main {
  top: 0;
}

#hamburger {
  cursor: pointer;
}

#amphamb {
  width: 24px;
  height: 24px;
}

#ampnav,
amp-sidebar {
  top: calc(0);
  z-index: 2147483647;
}

amp-sidebar section {
  width: 250px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

section[expanded] .acc-header {
  background-color: #efefef !important;
}

.acc-content .item {
  line-height: 35px;
  padding-left: 25px;
}

.acc-content .item .item {
  padding-left: 15px;
}

.acc-header {
  line-height: 48px;
  font-size: 13px;
  padding-left: 10px;
  border: 0;
  width: 250px;
}

.acc-content .item {
  width: 245px;
}

.acc-content .item a {
  width: 90%;
  display: inline-block;
}

.acc-header *,
.acc-content * {
  color: #444;
  text-decoration: none;
}

#search input.search {
  background: #ededed;
  width: 15vw;
  font-size: 100%;
  border: solid 0 #ccc;
  padding: 5px 25px;
  margin: 15px 0;
}

@media only screen and (min-width: 302px) {
  #search input.search {
    min-width: 125px;
  }
}

@media only screen and (max-width: 250px) {
  #search {
    display: none;
  }
}

#search input.submit {
  background-position: center;
  background-repeat: no-repeat;
  height: 32px;
  width: 30px;
  background-color: buttonface;
  position: relative;
  top: 11px;
}

#search input.submit[type="submit"] {
  background-image: url("/images/amp/ic_search_white_1x_web_24dp.png");
}

body > main,
body > amp-sidebar,
body > footer {
  position: relative;
  top: 64px;
}

.ie main,
.ie amp-sidebar,
.ie footer {
  top: 40px;
}

main section .cn {
  max-width: 900px;
  margin: 0 auto;
}

.off {
  position: relative;
  top: -50px;
}

footer .whatismetastock,
footer .whatismetastock * {
  background-color: #424242;
  text-decoration: none;
  font-size: 18px;
}

.copyr ul {
  margin: 25px;
}

.copyr li {
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 5px;
}

.copyr .fl {
  margin-left: 0;
}

footer,
footer * {
  background-color: #757575;
}

footer .chat > div {
  width: 48%;
}

#footer-addr hr {
  width: 95%;
}

#footer-links a {
  padding: 0 5px;
}

#footer-social a {
  padding: 0 10px;
}

.lightbox {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2147483647 !important;
  overflow-y: auto;
}

form.amp-form-submit-success > * {
  display: none;
}

form.amp-form-submit-success .sok {
  display: normal;
}

.sok,
.nok {
  padding: 10px;
}

.sok,
.sok *,
.nok,
.nok * {
  opacity: 1;
  pointer-events: all;
  cursor: auto;
}

.sok a,
.nok a {
  cursor: pointer;
}

form.amp-form-submit-success > div[submit-success],
form .sok,
form .nok {
  display: block;
}

.offer .check {
  max-width: 35px;
}

@media only screen and (min-width: 400px) {
  main section {
    padding: 15px;
  }
  main section .cn,
  main section .container {
    padding: 10px;
  }
}

@media only screen and (max-width: 399px) {
  main section {
    padding: 5px;
  }
  main section .cn,
  main section .container {
    padding: 5px;
  }
  footer .row {
    margin: 0 !important;
    padding: 0 !important;
  }
}

main section .container {
  max-width: 900px;
  margin: 0 auto;
}

.footer {
  width: auto;
}

.w100 {
  width: 100%;
  word-wrap: break-word;
}

.amp-sidebar {
  z-index: 2147483646 !important;
}

.lightbox {
  width: 50%;
  height: 50%;
  margin: auto;
  position: relative;
  top: 25%;
}

@media only screen and (max-width: 320px) {
  .w100 {
    width: 95%;
  }
}

.w50 {
  width: 50%;
}

.h100 {
  height: 100%;
}

.h50 {
  height: 50%;
}

.flt-lf {
  float: left;
}

.flt-rt {
  float: right;
}

.-pad {
  padding: 0 !important;
}

.pad {
  padding: 10px;
}

.pad-up {
  padding-top: 10px;
}

.pad-rt {
  padding-right: 10px;
}

.pad-dn {
  padding-bottom: 10px;
}

.pad-lf {
  padding-left: 10px;
}

.-mgn {
  margin: 0 !important;
}

.mgn {
  margin: 10px;
}

.mgn-up {
  margin-top: 10px;
}

.mgn-rt {
  margin-right: 10px;
}

.mgn-dn {
  margin-bottom: 10px;
}

.mgn-lf {
  margin-left: 10px;
}

.lst {
  list-style-type: initial;
}

.-lst {
  list-style-type: none;
}

#ampnav {
  overflow-y: overlay !important;
}

main amp-accordion section {
  width: 90%;
  margin: auto;
}

main amp-accordion section[expanded] {
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
}

.hdr {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAU0lEQVR4AWOgBxgFHPhEMIEXw2MGHRQRPaCIB24NGxn+M7wCakEofw0U2YDPQTugWhDKd4AcRUALUKEumnLCWtCUE9aCUE6kFphyorUA4SAGowAAbSweD6CmcT8AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position-y: 8px;
  background-position-x: 2px;
  padding-left: 30px;
}

section[expanded] .hdr {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNvyMY98AAABsSURBVEhLYxgFo2AUkAw4oJgmAGTwDiimuiUww/9DMVUtQTb8NRRTzRJ0w/WAWBfKptgSbIbDgA4QvwJiiizZAMTYDIcBZEs2ggRIBR5A/BiIsRkOAyBLQGq8wDwyADFeJzsORsEoGBSAgQEAy9oeD/UawUkAAAAASUVORK5CYII=);
}

body,
.def,
a.def {
  color: rgba(0, 0, 0, 0.71);
}

.bdr {
  border: solid #dadada 1px;
}

.bdr-up {
  border-top: solid #dadada 1px;
}

.bdr5-dn {
  border-bottom: solid #dadada 5px;
}

.bdr-rt {
  border-right: solid #dadada 1px;
}

.bdr-dn {
  border-bottom: solid #dadada 1px;
}

.bdr-lf {
  border-left: solid #dadada 1px;
}

.dsc:before {
  content: "• ";
}

amp-sidebar section[expanded] {
  background-color: #efefef;
  margin-bottom: 5px;
}

amp-sidebar section.chat,
.acc-content .item {
  background-color: #fff;
  margin-left: 5px;
}

amp-sidebar .item {
  font-size: 13px;
}

section.highlight {
  border-bottom: 2px solid #dadada;
}

section.faq {
  margin-bottom: 15px;
}

section[expanded] {
  margin-left: 0;
  margin-right: 0;
}

.req:after {
  content: " * ";
  color: #f00;
}

.ie amp-sidebar nav {
  max-width: 256px;
}

@media only screen and (min-width: 992px) {
  .amp.full.nav header.top {
    left: 0 !important;
  }
  .amp.full.nav amp-sidebar {
    top: 64px !important;
  }
  .amp.full.nav amp-sidebar header {
    display: none !important;
  }
  .amp.full.nav amp-sidebar amp-accordion {
    top: 0 !important;
  }
  .amp.full.nav #ampnav {
    display: block !important;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  .amp.full.nav #hamburger,
  .amp.full.nav .-amp-sidebar-mask {
    display: none;
  }
  .amp.full.nav .logo {
    padding-left: 38px;
  }
  .amp.full.nav > main,
  .amp.full.nav > footer {
    margin-left: 250px;
  }
  .amp.full.nav #__asptrace {
    margin-left: 250px;
  }
  .amp.full.nav #__asptrace table:nth-child(2) td:nth-child(2) {
    max-width: 600px;
    overflow-x: hidden;
  }
  .nav #cookie {
    left: 120px;
  }
}

#__asptrace td {
  max-width: 900px !important;
}

.shd,
.hov:hover,
amp-youtube,
amp-iframe {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.-shd,
.-hov:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card {
  position: relative;
  padding-bottom: 50px;
}

.card.-act {
  padding-bottom: 15px;
}

.card .acts {
  position: absolute;
  bottom: 0;
  left: 0;
}

.-amp-sidebar-mask,
.i-amphtml-sidebar-mask {
  z-index: 21474836 !important;
}

.i-amphtml-loader {
  position: fixed !important;
}

body.nav .i-amphtml-sidebar-mask {
  z-index: 21474836 !important;
}

#toasts {
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 70px;
}

.toast {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  font-size: 17px;
  min-width: 250px;
  margin: 10px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
          animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

section .cn {
  max-width: 900px;
  margin: 0 auto;
}

.rw .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body {
  background-color: #333333;
  color: #f9efef;
  color: #333;
}

.rw.call-dn {
  color: #f9efef;
}

a {
  color: #008cba;
  text-decoration: none;
}

.title .tag {
  font-size: 2.5rem;
  color: white;
}

.overview {
  color: white;
}

#disclaim {
  color: #ccc;
  font-size: 10px;
}

.header .col {
  -ms-flex-preferred-size: 225px;
      flex-basis: 225px;
}

.boxes .cl {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.header .btn {
  background-color: #008cba;
  color: white;
  display: block;
  padding: 5px;
}

.strk {
  text-decoration: line-through;
}

#top {
  border-bottom: solid #dadada 1px;
}

iframe.i-amphtml-fill-content {
  min-height: 100%;
}

/* amp.master */
.rspnsv {
  --rw: 100%;
  --rh: auto;
  width: var(--rw);
  height: var(--rh);
}

.rspnsv-vid {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.rspnsv-vid iframe,
.rspnsv-vid object,
.rspnsv-vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer section .cn {
  max-width: 1100px;
}

.cl.info {
  background-color: #555;
}

#cookie {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buorg-test,
template {
  display: none;
}

.ui-autocomplete {
  background-color: white;
  width: 250px;
  border: 1px solid gray;
  height: 250px;
  overflow-y: auto;
}

.ui-autocomplete li {
  list-style: none;
}

.ie .-ie {
  display: none;
}

.nav-on amp-sidebar,
amp-sidebar.nav-on {
  display: initial;
  position: fixed;
}

input.error {
  border-color: red;
  -webkit-box-shadow: 0px 0px 0px 1px red;
          box-shadow: 0px 0px 0px 1px red;
}

nobr {
  white-space: normal;
}

:root {
  --primary-color: #006595;
  --accent-color: #cb4e02;
}

.or,
h1 {
  color: var(--accent-color) !important;
}

.bl,
.bl-a a {
  color: var(--primary-color);
}

.bgbl {
  background-color: var(--primary-color);
}

.bgor {
  background-color: var(--accent-color);
}

.rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.rw > * {
  -webkit-box-flex: var(--fg, 0);
      -ms-flex: var(--fg, 0) var(--fs, 1) var(--fb, auto);
          flex: var(--fg, 0) var(--fs, 1) var(--fb, auto);
}

.grid {
  display: -ms-grid;
  display: grid;
  --gtc: repeat(12, 1fr);
  -ms-grid-columns: var(--gtc);
      grid-template-columns: var(--gtc);
  --gg: 20px;
  grid-gap: var(--gg);
  --gce: span 1;
  --gre: span 1;
  --gx: 1;
}

.grid > * {
  grid-column: var(--gc, auto);
  grid-row: var(--gr, auto);
  --gce: span var(--cspan, 1);
  --gre: span var(--rspan, 1);
  grid-column-end: var(--gce);
  grid-row-end: var(--gre);
}

.grid > .full,
.grid > h1,
.grid > h2,
.grid > h3,
.grid > h4,
.grid > h5,
.grid > h6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  grid-column: 1/-1;
}

@media (max-width: 600px) {
  .grid {
    --gtc: var(--gtcs, 1fr);
  }
  .grid > * {
    -ms-grid-column-span: var(--sm, 1);
        grid-column-end: span var(--sm, 1);
    -webkit-box-flex: var(--sm);
        -ms-flex: var(--sm);
            flex: var(--sm);
  }
}

@media (min-width: 600px) {
  .grid {
    --gtc: var(--gtcm, 1fr 1fr);
  }
  .grid > * {
    -ms-grid-column-span: var(--md, 1);
        grid-column-end: span var(--md, 1);
    -webkit-box-flex: var(--md);
        -ms-flex: var(--md);
            flex: var(--md);
  }
}

@media (min-width: 900px) {
  .grid {
    --gtc: var(--gtcl, 1fr 1fr 1fr);
  }
  .grid > * {
    -ms-grid-column-span: var(--lg, 1);
        grid-column-end: span var(--lg, 1);
    -webkit-box-flex: var(--lg);
        -ms-flex: var(--lg);
            flex: var(--lg);
  }
  .grid.golden-l {
    --gtcl: 1.61803399fr 1fr;
  }
}

.wtw {
  line-height: 3.333;
}

body {
  width: 90vw;
  max-width: 1300px;
}
/*# sourceMappingURL=main.css.map */