$bp-md: 600px;  
$bp-lg: 900px;

/// this is a documentation comment
.grid {
  --gtcx: 320px;
  --gtc: repeat(auto-fit, minmax(var(--gtcx), 1fr));
  --gg: 20px;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: var(--gtc);
  grid-gap: var(--gg);
  --cspan: 1;
  --gce: span var(--cspan);
  --gre: span 1;
  --gx: 1;
}
.grid > * {
  flex: 1 1 var(--gtcx);
  --gc: auto;
  --gr: auto;
  grid-column: var(--gc);
  grid-row: var(--gr);
  grid-column-end: var(--gce);
  grid-row-end: var(--gre);
}
.grid > .full,
.grid > h1,
.grid > h2,
.grid > h3,
.grid > h4,
.grid > h5,
.grid > h6 {
  flex: 0 0 100%;
  grid-column: 1/-1;
}


@media (max-width: $bp-md) {
  .grid {
      // --gtcs: 1fr;
      --gtc: var(--gtcs, 1fr);
  }
}

@media (min-width: $bp-md) {
  .grid {
      // --gtcm: 1fr 1fr;
      --gtc: var(--gtcm, 1fr 1fr);
  }
}

@media (min-width: $bp-lg) {
  .grid {
      // --gtcl: 1fr 1fr 1fr;
      --gtc: var(--gtcl, 1fr 1fr 1fr);
  }
}


