$bp-md: 600px;  
$bp-lg: 900px;

.rw {
  display:flex;
  flex-flow:row wrap
 }

 .rw > * {
  flex: var(--fg, 0) var(--fs,1) var(--fb, auto);
 }
 
/// this is a documentation comment

// default is 12 column grid 
// override with mq classes

.grid {
  display: grid;
  --gtc: repeat(12, 1fr);
  grid-template-columns: var(--gtc);
  --gg: 20px;
  grid-gap: var(--gg);
  --gce: span 1;
  --gre: span 1;
  --gx: 1;
}
.grid > * {
  grid-column: var(--gc, auto);
  grid-row: var(--gr, auto);
  --gce: span var(--cspan, 1);
  --gre: span var(--rspan, 1);
  grid-column-end: var(--gce);
  grid-row-end: var(--gre);
}
.grid > .full,
.grid > h1,
.grid > h2,
.grid > h3,
.grid > h4,
.grid > h5,
.grid > h6 {
  flex: 0 0 100%;
  grid-column: 1/-1;
}


@media (max-width: $bp-md) {
  .grid {
      --gtc: var(--gtcs, 1fr);

      &> * {
        grid-column-end: span var(--sm, 1);
        flex: var(--sm);
      }
  }
}

@media (min-width: $bp-md) {
  .grid {
      --gtc: var(--gtcm, 1fr 1fr);
      
      & > * {
        grid-column-end: span var(--md, 1);
        flex: var(--md);
      }
  }
}

@media (min-width: $bp-lg) {
  .grid {
      --gtc: var(--gtcl, 1fr 1fr 1fr);
      
      & > * {
        grid-column-end: span var(--lg, 1);
        flex: var(--lg);
      }
      &.golden-l {
        --gtcl: 1.61803399fr 1fr;
      }
      
  }
}

.wtw {
  line-height: 3.333;
}

