$bp-md: 600px;  
$bp-lg: 900px;

.grid {
  --golden: 1.61803399fr 1fr;
  --golden-r: 1fr 1.61803399fr;
}



.grid {
  --gtcx: 320px;
  --gtc: repeat(auto-fit, minmax(var(--gtcx), 1fr));
  --gg: 20px;
  display: flex;
  flex-wrap: wrap;
  
  display: grid;
  grid-template-columns: var(--gtc);
  grid-gap: var(--gg);
  --gce: span 1;
  --gre: span 1;
  --gx: 1;
}
.grid > * {
  flex: 1 1 var(--gtcx);
  --gce: var(--gce);
  --gre: var(--gre);
}
.grid > .full,
.grid > h1,
.grid > h2,
.grid > h3,
.grid > h4,
.grid > h5,
.grid > h6 {
  flex: 0 0 100%;
  grid-column: 1/-1;
}

@media (max-width: $bp-md) {
  .grid {
    --gtc: var(--gtcs, 1fr);
    & > * {
      --gce: span var(--sm, 1fr);
      --gr: span var(--grm, 1);
      --gc: span var(--gcm, 1);
      // flex: var(--sm, 1);

    }
  }
}

@media (min-width: $bp-md) {
  body { background-color: aliceblue; }
  .grid {
    --gtc: var(--gtcm, 1fr 1fr);
    & > * {
      --gce: span var(--md, 1fr 1fr);
      --gr: span var(--grm, 1);
      --gc: span var(--gcm, 1);
      // flex: var(--md, 1);
    }
  }
}

@media (min-width: $bp-lg) {
  body { background-color: linen; }
  .grid {
    --gtc: var(--gtcl, 1fr 1fr 1fr);
    & > * {
      --gce: span var(--lg, 1fr 1fr 1fr);
      grid-row: span var(--grl, 1);
      grid-column-end: span var(--gcl, 1);
      flex: var(--lg, 1);
    }
  }
  // .golden-l {
  //   grid-template-columns: 1.61803399fr 1fr;
  // }

}


.wtw {
  line-height: 5.55555;
}

/* specific to this page only  */
body {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
}


.grid > * {
  background-color: #eee;
  outline: 1px solid red;
  padding: 0.5rem;
}
